.App {
  text-align: center;
}

#navContent {
  margin-right: 15px;
  font-size: 25px;
  justify-content: left;
}

.galleryLink {
  opacity: 0.5;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
}

.aboutLink {
  opacity: 0.5;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
}

.heroContainer {
  position: relative;
  text-align: center;
  color: white;
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroText,
p {
  color: #fffff2;
  text-shadow: 1px 1px black;
  font-family: fantasy;
  font-size: 150px;
  /* padding-bottom: 100px; */
}

.heroBG {
  border: none;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
