.App {
  text-align: center;
}

#navContent {
  margin-right: 15px;
  font-size: 25px;
  justify-content: left;
}

.navBrandName {
  color: #ececec;
  font-size: 50px;
  text-shadow: 1px 1px black;
}

.brandName {
  padding: 35px;
  font-family: Chalkduster, fantasy;
}

.galleryLink {
  opacity: 0.5;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
}

.aboutLink {
  opacity: 0.5;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
}

.heroContainer {
  position: relative;
  text-align: center;
  color: white;
}

.heroText {
  /* padding-bottom: 500px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroBG {
  border: none;
  width: 100%;
}

#secondaryText {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: serif;
  margin: 25px;
  color: black;
  font-size: 25px;
}

.carousel {
  margin: 35px;
}

.caroImage {
  border: none;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
